* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12pt;
  background: linear-gradient(120deg, #ffce99, #ffe6cc);
  background-repeat: no-repeat;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: rgba(255, 159, 57, 0.858);
  font-size: 1.2rem;
  font-family: "Russo One", sans-serif;
}
@media screen and (min-width: 768px) {
  body header {
    height: 250px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body header {
    height: 300px;
    font-size: 2.5rem;
  }
}
body main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 600px;
}
@media screen and (min-width: 768px) {
  body main {
    flex-direction: row;
    align-items: flex-start;
  }
}
body main form {
  display: flex;
  justify-content: center;
  width: 100%;
}
body main form .todo-input {
  width: 70%;
  height: 40px;
  border: 1px solid black;
  font-size: 1.2rem;
}
@media screen and (min-width: 992px) {
  body main form .todo-input {
    width: 40%;
  }
}
body main form .submit-input-button {
  width: 20%;
  background: radial-gradient(white, #ff8a3b);
  border: 1px solid black;
}
@media screen and (min-width: 992px) {
  body main form .submit-input-button {
    width: 10%;
  }
}
body main form .submit-input-button i {
  font-size: 2rem;
  color: #ff9f39;
}
body main form .create-list-button {
  width: 10%;
  background: radial-gradient(white, #ff8a3b);
}
body main .todo-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
body main .todo-container .output-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 70%;
  height: 40px;
  border: 1px solid black;
  font-size: 1.2rem;
}
body main .todo-container .button-box {
  width: 30%;
}
body main .todo-container .button-box .submit-output-button {
  width: 50%;
  height: 100%;
  background: radial-gradient(white, #ff8a3b);
  border: 1px solid black;
}
body main .todo-container .button-box .submit-output-button i {
  font-size: 2.2rem;
  color: green;
}
body main .todo-container .button-box .delete-output-button {
  width: 50%;
  height: 100%;
  background: radial-gradient(white, #ff8a3b);
  border: 1px solid black;
}
body main .todo-container .button-box .delete-output-button i {
  font-size: 2.2rem;
  color: black;
}
body main .submit-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
body main .submit-container .output-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 70%;
  height: 40px;
  border: 1px solid black;
  font-size: 1.2rem;
  text-decoration: line-through;
}
body main .return-container {
  width: 30%;
}
body main .return-container .return-button {
  width: 50%;
  height: 100%;
  background: radial-gradient(white, #ff8a3b);
  border: 1px solid black;
}
body main .return-container .return-button i {
  font-size: 2.2rem;
  color: green;
}
body main .return-container .delete-button {
  width: 50%;
  height: 100%;
  background: radial-gradient(white, #ff8a3b);
  border: 1px solid black;
}
body main .return-container .delete-button i {
  font-size: 2.2rem;
  color: black;
}