$primary-color: rgb(13, 62, 102);
$secondery-color: rgb(146, 146, 146);
$third-color: rgb(185, 182, 142);
$fourth-color: rgb(158, 155, 111);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
