@use "mixins";
@use "variables";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 12pt;
    background: linear-gradient(
        120deg,
        variables.$primary-color,
        variables.$secondery-color
    );
    background-repeat: no-repeat;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        color: rgba($color: variables.$third-color, $alpha: 0.858);
        font-size: 1.2rem;
        font-family: "Russo One", sans-serif;
        @include mixins.tablet {
            height: 250px;
            font-size: 2rem;
        }
        @include mixins.desktop {
            height: 300px;
            font-size: 2.5rem;
        }
    }
    main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 600px;
        @include mixins.tablet {
            flex-direction: row;
            align-items: flex-start;
        }
        form {
            display: flex;
            justify-content: center;
            width: 100%;
            .todo-input {
                width: 70%;
                height: 40px;
                border: 1px solid black;
                font-size: 1.2rem;
                @include mixins.desktop {
                    width: 40%;
                }
            }
            .submit-input-button {
                width: 20%;
                background: radial-gradient(
                    variables.$white-color,
                    variables.$fourth-color
                );
                border: 1px solid black;
                @include mixins.desktop {
                    width: 10%;
                }
                i {
                    font-size: 2rem;
                    color: variables.$black-color;
                }
            }
            .create-list-button {
                width: 10%;
                background: radial-gradient(
                    variables.$white-color,
                    variables.$fourth-color
                );
            }
        }
        .todo-container {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
            flex-direction: column;
            .output-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: variables.$white-color;
                width: 70%;
                height: 40px;
                border: 1px solid black;
                font-size: 1.2rem;
            }
            .button-box {
                width: 30%;
                .submit-output-button {
                    width: 50%;
                    height: 100%;
                    background: radial-gradient(
                        variables.$white-color,
                        variables.$fourth-color
                    );
                    border: 1px solid black;
                    i {
                        font-size: 2.2rem;
                        color: green;
                    }
                }
                .delete-output-button {
                    width: 50%;
                    height: 100%;
                    background: radial-gradient(
                        variables.$white-color,
                        variables.$fourth-color
                    );
                    border: 1px solid black;
                    i {
                        font-size: 2.2rem;
                        color: variables.$black-color;
                    }
                }
            }
        }
        .submit-container {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
            flex-direction: column;
            .output-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: variables.$white-color;
                width: 70%;
                height: 40px;
                border: 1px solid black;
                font-size: 1.2rem;
                text-decoration: line-through;
            }
        }
        .return-container {
            width: 30%;
            .return-button {
                width: 50%;
                height: 100%;
                background: radial-gradient(
                    variables.$white-color,
                    variables.$fourth-color
                );
                border: 1px solid black;
                i {
                    font-size: 2.2rem;
                    color: green;
                }
            }
            .delete-button {
                width: 50%;
                height: 100%;
                background: radial-gradient(
                    variables.$white-color,
                    variables.$fourth-color
                );
                border: 1px solid black;
                i {
                    font-size: 2.2rem;
                    color: variables.$black-color;
                }
            }
        }
    }
}
